*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
/vendor
/database/*.sqlite
/database/*.sqlite-journal
/storage/*.key
/storage/pail
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs/*.log
/storage/backups/*.sql
/node_modules
/_obsolete
/cms
Thumbs.db
Homestead.json
Homestead.yaml
auth.json
Alwin.zip
assets/assets.zip
alwin-article-covers-fix.zip
